<!DOCTYPE html>
<html>
 <body style="background-color: pink">
<div>
<button  onclick="window.location.href = 'home.html';">home</button>
<button  onclick="window.location.href = 'goto predict.html';">goto predict</button>
</div>
<font color="blue"><h1>Liver Patient Prediction</h1></font><br>
<b><h2>Introduction</h2></b>
<p>
             The liver is an important and complex organ of the human body . 
The liver performs a variety of important physiological functions such as excretory function, secretory function and detoxification.
The liver is exposed to many diseases such as hepatitis, fatty liver, cancer, drug damage . 
Recent research demonstrated that liver disease (LF) could progress into fatal chronic diseases. 
Some liver disease such as viral hepatitis would lead to permanent liver failure .
artificial intelligence and machine learning methods have been used to diagnose liver disease
Jose et al adopted an artificial neural network (ANN)) as a diagnosis support tool to assist the clinical decision-making. 
The ANN achieved 95.4% accuracy on the test set.Nevertheless, ANN, as a black box model, is poorly clinically interpretable. 
Further, Wu et al employed multiple machine learning methods (random forest (RF), naive bayes (NB), ANN and logistic regression (LR)) to classify the high-risk patients with fatty liver disease. 
The area under the receiver operating characteristic (AUC) of RF, NB, ANN, and LR with 10 fold-cross validation was 0.925, 0.888, 0.895, and 0.854 respectively .
 The results showed that machine learning methods may have great potential in predicting the specific liver diseases.
<p style="color:pink"></p>
</p>
</body>
</html>